<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @restolina.login %>
</p>

<p>
  <strong>Menu:</strong>
  <%= @restolina.Menu %>
</p>

<%= link_to 'Edit', edit_restolina_path(@restolina) %> |
<%= link_to 'Back', restolinas_path %>
